#main{
    display: block;
}
h1 {
      text-align: center;
      background-color: var(--t-color);
      margin: 0px;
  }

  #note-gallery {
      padding: var(--padding-gallery);
      /*width: 100%;*/
      height: 100%;
      display: flex;
      flex-wrap: wrap;
      gap: var(--padding-gallery);
      /*justify-content: space-evenly;*/
      align-content: flex-start;

  }

  .note {
      background-color: var(--p-color);
      width: 200px;
      height: 200px;
      border-style: solid;
      border-color: var( --accent-1);
      border-radius: 10px;
      /*flex-grow: 1;*/
      overflow: hidden;
      box-shadow: 0px 4px 6px var(--shadoow-1);
       transition: 0.25s;
      /* :hover, :active, анимация */
  }
.note:hover{
     transform: scale(1.01);
}
.note:active{
     transform: scale(0.99);
}

  .note-content {
      padding: 10px;
      /*width: 100%;
      height: 100%;*/
      word-wrap: break-word;
  }

  .note-delete-container input,
.note-delete-container button 
{    
    --size: 20px;
     width: var(--size);
     word-wrap:var(--size);
}
.note-delete-container{
    display: flex;
    justify-content: flex-end; 
}
  

  #note-add-btn {
      background-color: var(--p-color);
      position: fixed;
      right: 20px;
      bottom: 20px;
      font-size: 50px;
      border-radius: 100%;
      border-color: var( --accent-1);
      width: 100px;
      height: 100px;
      transition: 0.25s;
      /* :hover, :active, анимация */
      z-index: 100;
  }
#note-add-btn:hover{
    transform: scale(1.1);
}
#note-add-btn:active{
    transform: scale(0.9);
} 

#control-menu{
      background-color: var( --p-color);
      padding: 20px;
      display: flex;
      justify-content: center;
      position: fixed;
      width: 100vw;
      bottom: 0;
      left: 0;
    text-align: center;
}
#ctr-menu-delete{
    background-color: var( --button-bg-1);
    color: var (--button-bg-1);
    padding: 10px;
    
}


























